

p, h1, h2 {
    line-height: 25px
}

img {
    max-width: 500px;
    width: 100%;
    height: auto;
    padding: 10px;
}

.mobile-nav {
    font-size: 30px;
    color: white;
    display: none;
    padding: 30px;
}

/*For Mobile View*/
@media (max-width: 768px) {
    .mobile-nav {
        display: block;
        background: none;
        border: none;
    }

    .mobile-nav:hover {
        color: hsla(0, 0%, 40%, 1); 
        transition: color 0.3s;
    }

    .nav ul {
        display: none !important; 
    }

    .page-links.open {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 200px;
    width: 100%;
    z-index: 15;
    background-color: black;
    }

    .site-top {
        flex-wrap: wrap;
    }

    .social-icon {
        font-size: 50px;
    }

    .grid {
    display: grid; 
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
}

/*.contracts {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
    width: 100% !important;
} */

.contracts img {
    height: 80px;
    width: 100px !important;
    object-fit: contain;
}

.capabilities {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(6, 1fr) !important;
    gap: 20px;
    align-items: start;
}

.services {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;

}

.intern-grid, .team-grid {
    justify-content: center !important;
}


}


.site-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: black;
}

.site-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social ul {
    display: flex;
    padding: 10px;
}

.social-icon:hover i {
    color: hsla(0, 0%, 40%, 1); 
    transition: color 0.3s;
}

.social-icon {
    font-size: 40px;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  align-items: center;
}

.nav ul li:hover a {
    background-color: hsl(0, 0%, 75%);
    color: black;
    transition: background-color 0.3s;
}

.nav-link a {
    height: 100%;
    display: block;
    padding: 20px;
}

.nav ul li:hover {
    background-color: hsl(0, 0%, 75%);
    transition: background-color 0.3s;
}

video {
    height: 400px;
    object-fit: cover;
    padding: 20px 0px;
    width: 100%;
}

.video {
    display: flex;
    justify-content: center;
}

body {
    padding-top: 196px;
    background-color: black;
    background: linear-gradient(180deg, #1a1a1a, #000000);
}

hr {
    width: 90%;
}

.nav p {
    color: white;
    text-transform: uppercase;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Noto Sans';
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
}

.tagline {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    padding: 10px;
    letter-spacing: 2px;
}

.undertag {
    letter-spacing: 2px;
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    align-items: start;
}

.box {
    height: 100%;
    border: 2px solid white;
    border-radius: 4em;
    z-index: 5;
}

.box h1 {
    font-size: 25px;
    padding: 20px;
    font-family: 'Noto Sans';
    font-weight: bold;
    text-align: center;
}

.box p {
    padding: 20px;
    font-family: 'Noto Sans';
}

.carousel {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
}

.threeC {
    object-fit: cover;
    height: 400px;
    padding: 20px 0px;
    max-width: 100%;
}

.slide {
    flex-direction: row;
    display: none;
    position: relative;
    width: 100%;
}

.slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.active {
    display: flex;
}

.carotext {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.carotext h1 {
    font-family: 'Noto Sans';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}

.carotext p {
    font-family: 'Noto Sans';
    font-size: 20px;
}

.contact {
    padding: 15px 30px;
    display: inline-block;
    border: 2px solid white;
    border-radius: 0.5em;
    font-family: 'Noto Sans';
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.contact:hover {
    background-color: hsl(0, 0%, 75%);
    transition: background-color 0.3s;
}

.carotext p, h1 {
    padding: 20px;
}

.carobutton {
    font-size: 50px;
    color: white;
    display: block;
    background: none;
    border: none;
    position: absolute;
    z-index: 10;
    padding: 10px;
}

.carobutton:hover {
    color: hsl(0, 0%, 39%);
    transition: color 0.3s;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.contracts {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    width: 100%;
    justify-content: center;
    justify-items: center;
}

.contracts img {
    height: 80px;
    width: 180px;
    object-fit: contain;
}

.capabilities div p {
    padding: 10px 20px;
    border: 1px;
    background-color: rgb(68, 68, 68);
    border-radius: 1em;
}

.capabilities p {
    margin-top: 10px;
}

.capabilities div {
    text-align: center;
}

.capabilities h1 {
    height: 40px;
    padding: 30px;
    line-height: 30px;
}

.capabilities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    align-items: start;
    padding: 20px;
}

.capabilities img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    padding: 0px !important;
}

section {
    text-align: center;
}

.services-icons {
    font-size: 60px;
    padding: 30px;
}

.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.service-item h1 {
    font-size: 20px;
}

.testimonial-slide {
    max-width: 50%;
    display: none;
    margin: 0 auto;
    padding: 30px;
}

.test-name {
    text-transform: capitalize;
    font-weight: bold !important;
}

.testimonial-slide h1 {
    padding: 0px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
}

.testimonial-slide.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-icon {
    max-width: 100px;
}

#testimonial-carousel {
    background: radial-gradient(circle, #2a2a2a, #000000);
}

/*Footer*/

footer {
    background: linear-gradient(180deg, #333333 0%, #000000 100%);
    border-top: 2px solid #333333;
}

.footer-text {
    display: flex;
    justify-content: space-between;
}

.footer-left, .footer-right {
    width: 50%;
}

.footer-left  p, .footer-right p {
    text-align: left;
}

.footer-left {
    padding-right: 150px;
}

.footer-right {
    padding-left: 150px;
}

.footer-left p, .footer-right p {
    font-family: 'Noto Sans';
    font-size: 12px;
}

.footer-bold {
    font-weight: bold;
}

.footer-italic {
    font-style: italic;
}

.footer-pad {
    padding-bottom: 30px;
}


/*The Team Page*/

.team-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.team-header img {
    height: 300px;
    max-width: 100%;
    padding: 0;
    object-fit: cover;
}

.team-header p {
    font-size: 20px;
}

.team-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-text {
    position: absolute;
}

.team-body h1, .team-body h2, .team-body p {
    text-align: left !important;
}

.team-body p {
    font-family: 'Noto Sans';
    font-size: 25px;
    line-height: 40px;
    padding-bottom: 10px;
    
}

.team-body h1 {
    padding-top: 70px;
    font-weight: lighter;
    letter-spacing: .5em;
}

.beforeteam-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 100px;
}

.team-icons {
    font-size: 35px;
}

.icon-inline {
    display: flex;
    align-items: center;
}

.icon-inline h2 {
    padding-left: 25px;
}

.team-items p {
    padding: 25px 5px;
    text-align: left;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;

}

.team-member {
    padding: 10px;
    border: 2px solid white;
    border-radius: .5em;
}

.team-member p {
    font-style: italic;
    text-align: center;
    font-size: 14px;
}

.team-member h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
}

.team-member h2 {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.team-break {
    margin: 1em;
    width: 50%;
}

.studio-team {
    text-align: left;
    padding-top: 70px;
    font-weight: lighter;
    letter-spacing: .5em;
}

.intern-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 10px;
}

.intern-team {
    border: 2px solid white;
    border-radius: .5em;
}

.intern-team img {
    padding: 0px;
}

.intern-team h1 {
    font-size: 25px;
}

.intern-team h2 {
    font-family: 'Noto Sans';
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}